
      <div class="row">
        <section class="main col-md-9">
          <article>
          <h2>About</h2>
          <p>Hello! I am Manoj khatri, currently studying computer programming at Seneca College.It's only been a couple of years since I have developed my interest on the field of Computer Science. In the coming years, I would love to learn more on web developed as well as software development. One more thing that's on my bucket list is to learn animation.</p>
          <p>The only goal for me in the moment is to learn as much things as I can in this field. But eventually, during the process, I will be trying to contribute my knowledge to society and achieve new extents in this field.</p>
          <p>As for my hobbies, I usually like to explore new things on internet, playing e-sports and I watch explore different TV shows on my free time. Besides, i am also like to play outdoor sports like football or basketball every once in a while. </p>
          </article>
        </section>
        <aside class="col-md-3">
          <h2>Coming Soon</h2>
          <p>Stay tuned to witness this boring page being turned into something interesting.......................</p>
        </aside>
      </div>
   